
<div class="container">
    <h2 align="center">Agenda de Contactos</h2>
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-save"></i> Registrar</button>
    <br>
    <br>
    <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres</th>
            <th scope="col">Celular</th>
            <th scope="col">Email</th>
            <th scope="col">Dirección</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let item of listaContactos">
            <th scope="row">{{item.id}}</th>
            <td>{{item.nombres +' '+ item.apellidos}}</td>
            <td>{{item.celular}}</td>
            <td>{{item.email}}</td>
            <td>{{item.direccion}}</td>
            <td>
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-pencil" (click)="selectItem(item)" ></i></button>
                <button type="button" class="btn btn-danger" (click)="delete(item.id)" ><i class="fa fa-trash"></i></button>
            </td>
          </tr>
          
        </tbody>
      </table>

</div>


<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="!isUpdate" class="modal-title" id="staticBackdropLabel">Nuevo Contacto</h5>
          <h5 *ngIf="isUpdate" class="modal-title" id="staticBackdropLabel">Actualizar Contacto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="nuevoContacto()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formContacto">
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Id:</label>
                    <input type="text" class="form-control" id="id" formControlName="id">
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Nombres:</label>
                  <input type="text" class="form-control" id="nombres" formControlName="nombres">
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Apellidos:</label>
                    <input type="text" class="form-control" id="apellidos" formControlName="apellidos">
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Celular:</label>
                    <input type="text" class="form-control" id="celular" formControlName="celular">
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Email:</label>
                    <input type="text" class="form-control" id="email" formControlName="email">
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Dirección:</label>
                    <input type="text" class="form-control" id="direccion" formControlName="direccion">
                </div>                
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button *ngIf="!isUpdate" type="button" class="btn btn-primary" (click)="save()">Guardar</button>
          <button *ngIf="isUpdate" type="button" class="btn btn-primary" (click)="update()">Actualizar</button>
        </div>
      </div>
    </div>
  </div>



